*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

.contenedor{
    width: auto !important;
}
body{
    justify-content: center;
}
.nav{
    border-radius: 0 0 10px 10px;
}
input, select, label,option {
    color: black !important;
    margin: 10px !important;
}
label{
    color: white !important;
}
.formulario{
    border-radius: 20px;
    
}
form{
    text-align: left;
    padding: 20px;
}
.contenedor-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contenedor-nam{
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    text-align: left;
    
}
a{  
    text-decoration: none;
    color: white;
    padding-left: 20px;
    width: 60%;
    border-radius: 20px;
    padding: 5px;
    transition: 0.1s;

}
a:hover{
    background-color: rgba(4, 143, 212, 0.37);
    transform: scale(1.05);
    transition: 0.2s;
}

.regiExist{
    background-color: rgba(15, 4, 212, 0.648);
    font-weight: 700;
    border-radius: 10px;
}

#reporte, #otraFac{
    background-color: rgb(255, 174, 0);
    font-weight: 700;
    border-radius: 20px;
    font-size: 13px;
    text-align: center;

}

.tablas_abonos{
    background-color: red !important;
    
}